<div class="bg-info rounded p-4 text-uppercase text-light font-weight-bolder">
  Order Summary
</div>
<div class="bg-light p-4 text-italic">
  <p>Shipping Costs will be added depending on choices made during checkout</p>
  <ul class="list-unstyled mb-4" *ngIf="basketTotals$ | async as total">
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Subtotal</strong>
      <strong class="text-muted">{{ total.subtotal }}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Shipping and Handling</strong>
      <strong class="text-muted">{{ total.shipping }}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Total</strong>
      <strong class="text-muted">{{ total.total }}</strong>
    </li>
  </ul>
</div>
