.cart-blank {
  position: relative;
  margin-right: 10px;
  padding-top: 15px;
  padding-left: 15px;
}
.cart-no {
  position: absolute;
  min-width: 25px;
  min-width: 25px;
  border-radius: 50%;
  font-size: 1em;
  background-color: red;
  text-align: center;
  top: 0px;
  right: -5px;
  color: white;
}
a {
  color: black;

  &.active {
    color: white;
    font-weight: bolder;
    background-color: black;
    border-radius: 5px;
  }
}
