<!-- 
<div *ngFor="let items of Products_" style="margin-top: 5rem;">
  <h1>{{items.price}}</h1>
  <h1>{{items.description}}</h1>
  <h1>{{items.productName}}</h1>


</div> -->
<!-- <div class="mt-2 mx-2">
  <select name="" [(ngModel)]="brandIdSelected" id="">
    <option value="0" selected>All</option>
    <option *ngFor="let brand of ProductBrands$ | async" [value]="brand.id">
      {{ brand.name }}
    </option>
  </select>
</div> -->

<!-- <h5 class="text-warning ml-3">Brands</h5>
    <select
      name=""
      class="form-select mb-3"
      id=""
      [(ngModel)]="brandIdSelected"
      (change)="onBrandIdSelected(brandIdSelected)"
    >
      <option value="0" selected>All</option>
      <option *ngFor="let brand of brands_" [value]="brand.id">
        {{ brand.name }}
      </option>
    </select>
    {{ brandIdSelected }}

    <h5 class="text-warning ml-3">Types</h5>
    <select name="" class="form-select mb-3" id="" [(ngModel)]="typeIdSelected">
      <option value="0" selected>All</option>
      <option *ngFor="let type of ProductTypes$ | async" [value]="type.id">
        {{ type.name }}
      </option>
    </select> -->

<div class="d-flex">
  <div class="col-3 m-3">
    <h5 class="text-warning ml-3">Sort</h5>
    <select
      name=""
      class="form-select mb-3"
      id=""
      [(ngModel)]="selectedSortByPrice"
      (change)="onSortSelected()"
    >
      <!-- <option value="" selected>Alphabetical</option> -->
      <option [value]="sortByName">Sort by Name</option>

      <option [value]="priceAsc">Price: Low to high</option>

      <option [value]="priceDsc">Price: high to Low</option>
    </select>
    {{ selectedSortByPrice }}
    <section class="">
      <h5 class="text-warning ml-3">Brands</h5>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let barnd of brands"
          [class.active]="barnd.id === this.shopParams.brandId"
          [value]="barnd.id"
          (click)="onBrandIdSelected(barnd.id)"
        >
          {{ barnd.name }}
        </li>
      </ul>
    </section>

    <section class="">
      <h5 class="text-warning ml-3">Types</h5>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let type of types"
          [class.active]="type.id === this.shopParams.productTypeId"
          [value]="type.id"
          (click)="onTypeIdSelected(type.id)"
        >
          {{ type.name }}
        </li>
      </ul>
    </section>
  </div>
  <div class="col-8">
    <div class="d-flex justify-content-between align-items-center mt-2 mb-2">
      <app-paging-header
        [totalCount]="totalCount"
        [pageSize]="this.shopParams.pageSize"
      >
      </app-paging-header>
      <div class="d-flex col-7 form-inline mt-2">
        <input
          type="text"
          class="form-control"
          style="max-width: 300px"
          placeho
          lder="Search"
          #search
          (keyup.enter)="onSearch()"
        />
        <button
          class="btn btn-outline-primary mx-2"
          style="max-width: 100px"
          (click)="onSearch()"
        >
          Search
        </button>
        <!-- <button class="btn btn-outline-success mx-2" (click)="resetProducts()">
          Reset
        </button> -->
        <button class="btn btn-outline-success mx-2" (click)="onReset()">
          Reset
        </button>
      </div>
    </div>

    <div class="row mx-5">
      <div class="col-md-4" *ngFor="let pro of Products">
        <app-product-item [_itemFromParent]="pro"></app-product-item>
      </div>
    </div>
    <h1>totalCount --> {{ totalCount }}</h1>
    <h1>pageSize --> {{ this.shopParams.pageSize }}</h1>
    <h1>pageNumber --> {{ this.shopParams.pageNumber }}</h1>

    <div *ngIf="totalCount > 0" class="d-flex justify-content-center mt-2 mb-2">
      <app-pager
        [totalCount]="totalCount"
        [pageSize]="this.shopParams.pageSize"
        (pageChanged)="onPageChanged($event)"
      >
      </app-pager>
    </div>
  </div>
</div>
