body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw; //
  overflow-x: hidden;
}
* {
  text-decoration: none !important;
}
.xng-breadcrumb-root {
  padding: 8px 16px;
  display: inline;
  border-radius: 0;
}
label.xng-breadcrumb-trail {
  margin-bottom: 0;
  color: orange !important;
  font-weight: 700;
}

.xng-breadcrumb-seprator {
  padding: 0 0;
}

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
